<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/crear.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
</head>
<body class="body">
    <header>
        <%- include("../partials/header") %>
    </header>
<main>
    <!-- Express Validator -->
    <% if(locals.errors) { %>
        <% } %>
    <!-- Express Validator -->
<div class="title-create">
    <h2>Creando Un Producto</h2>
</div>
<article class="create-form">
    <ul class="errores">
                
    </ul>
    <form action="/products" method="POST" enctype="multipart/form-data" class="form-crear">   
<div class="create-questions-separated">
    <div class="create-questions">
        <label for="name">Nombre del producto</label>
        <input type="text" name="name" id="name" placeholder="Ejemplo: Cerveza Andes" class="create-questions-input"/>
        <% if (locals.errors && errors.name) { %>
            <div class="text-errors">
              <%= errors.name.msg %>
            </div>
            <% } %>
    </div>
    

    <div class="create-questions">
        <label for="description">Descripcion del producto</label>
        <textarea name="description" id="description" class="create-questions-input"></textarea>
        <% if (locals.errors && errors.description) { %>
            <div class="text-errors">
              <%= errors.description.msg %>
            </div>
            <% } %>
    </div>
    
</div>
    <div class="create-questions">
        <label for="file">Imagen</label>
        <input type="file" name="file-image-product" id="file" class="create-questions-input" accept="jpg,png" />
    </div>
    <% if (locals.errors && errors.image) { %>
        <div class="text-errors">
          <%= errors.image.msg %>
        </div>
        <% } %>
    

    <div class="create-questions">
        <label for="category">Categoria</label>
        <select name="category"  class="create-questions-input">
            <option value="" disabled selected>Elegi una categoria</option>
            <% for (let i = 0; i < categories.length;i++){ %>
                <option value="<%=categories[i].id%>"> 
                    <%=categories[i].category%>
                </option>
            <% } %> 
        </select>
    </div>
    <div class="create-questions-separated">
        <div class="create-questions">
            <label for="price">Precio</label>
        <input type="number" name="price" id="price" placeholder="Ejemplo: 150$" class="create-questions-input"/>
        </div>
    
        <div class="create-questions">
            <label for="off">Descuento</label>
        <input type="number" name="off" id="off" placeholder="Ejemplo: 10" class="create-questions-input"/>
        </div>
   </div>
    <div class="create-buttons">
        <button type="submit" class="accept">Aceptar</button>
        <button type="reset" class="delete">Borrar</button>
    </div>
</form>
</article>
</main>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>
<script src="../js/crear.js"> </script>
</body>
</html>