<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
    <%- include("../partials/header") %>
        <main class="main-carrito">
            <section>
                <% product.forEach(product=> { %>

                    
                    <article class="product">
                        <div class="image-carrito">
                            <img src="/img/products/<%= product.image %>" alt="Cerveza Brahma">
                        </div>
                        <div class="product-description">
                            <div class="description">
                                <p>Nombre</p>
                                <input type="text" name="description" id="description" value="<%= product.name %> ">
                            </div>
                            <div class="price">
                                <p>Precio</p>
                                <input type="text" name="price" id="price" value="<%= product.price %> ">
                            </div>
                            <div class="quantity">
                                <p>Cantidad</p>
                                <input type="number" name="quantity" id="quantity" min="1" value="1">
                            </div>
                            <div class="subtotal">
                                <p>SubTotal</p>
                                <input type="text" name="subtotal" id="subtotal" value="<%= product.price%>">
                            </div>
                        </div>

                        
                    </article>
                    <% }) %>

                    
            </section>

            <div class="total">

                <label for="total">Total</label>
                <input type="text" name="total" id="total">
            </div>




        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>